body {
    font-family: Arial;
    background: #f4f6f9;
    padding: 20px;
}

h2 {
    background: #2c7be5;
    text-align: center;
    color: white;
    padding: 10px;
}

.form {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

input, button {
    padding: 8px;
}

button {
    background: #2c7be5;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.back {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: blue;
}


body {
    margin: 0;
    min-height: 100vh;
    background-image: url("images/library_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Dark overlay */
body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* change 0.5 to adjust dim */
    z-index: -1;
}



body {
    margin: 0;
    min-height: 100vh;
    background-image: url("images/library_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Dark overlay */
body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* change 0.5 to adjust dim */
    z-index: -1;
}