body {
    font-family: Arial;
    background: #f4f6f9;
    padding: 20px;
}

nav {
    background: #2c7be5;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 6px 12px;
    margin-top: 20px;
    height: 30px;
    border: none;
    cursor: pointer;
}

h3 {
    margin-top: 30px;
    background: #ffffff;
    margin-bottom: 0%;
    margin-top: 10px;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.form {
    margin-top: 10px;
}

nav img.logo {
    height: 60px;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url("images/library_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Dark overlay */
body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* change 0.5 to adjust dim */
    z-index: -1;
}

.bg {
    background-color: white;
}